<% include ../header %> 
<body>
 <!-- Wrapper -->
<!-- / .wrapper -->
    <!-- Jumbotron -->
        <div class="carousel-inner">
        <div style="width:20%;float:left; font-size:0.75em; overflow:auto; height:450px;">
          <h2 style="margin-block-start:0.83em; margin-block-end:0.83em;margin-inline-start:0px;margin-inline-end:0px; padding-inline-start: 20px;">모듈 목록</h2>
        <nav>
          <% for (var i=0 ; i < modules.length; i++ ) { %>
          <ol style="display: block;
          list-style-type: decimal;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          padding-inline-start: 20px;
          list-style:none;
          font-size:12px;">
            <li style="display:list-item;">
              <!-- 문제입력 페이지로 이동 링크 -->
              <!-- <a style="color:#999" href="/onlineTest/<%=modules[i].module_eng%>/submit"> <%= modules[i].module_kr %> </a>  -->
              <a style="color:#999" href="<%= locals.isLogin ? '/admin' : '' %>/onlineTest/<%=modules[i].module_eng%>"> <%= modules[i].module_kr %> </a> 
            </li>
          </ol>
          <% } %>
        </nav>
      </div>
      
				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-gem"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>필기 평가</h1>
								<p style="font-size:12px">모듈 목록에서 원하는 모듈을 선택하세요.<br />
                 목록에서 원하는 모듈 클릭시 해당 평가 페이지로 <a href="#">이동</a>합니다.</p>
							</div>
						</div>
						<nav>
							<ul>
                <li><a href="#">Test</a></li>
                <% if(locals.isLogin) { %>
								<!-- <li><a href="#">문제 입력</a></li> -->
								<!-- <li><a href="#">문제 수정</a></li> -->
                <li><a id="download" href="#">평가 결과 다운로드</a></li>
                <% } %>
								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
						</nav>
					</header>
     </div>
     <div class="excel_feild">
     </div>
        <!-- </div>  -->
        
</body>
  <script src="/js/onlinetest_moduleList.js"></script>
  <% include ../footer %>
</html>


